.profile {
  font-weight: 100;
  &__btn {
    &.right {
      float: right;
      margin-top: 10px;
      font-size: 20px;
    }
    &-center {
      margin: 0 auto;
      text-align: center;
      display: block;
    }
    display: inline-block;
    width: 194px;
    height: 48px;
    line-height: 48px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
    color: #030C26;
    text-align: center;
    text-decoration: none;
    margin-left: 22px;
    cursor: pointer;
    font-weight: 700;
    &:hover, &.active {
      background: #00B7F4;
      color: #fff;
    }
    &-dark {
      background-color: #206fa6;
      color: #ffffff;
    }
    &-middle {
      margin: 0px 10px;
    }
  }
  &__wrapper {
    width: 100%;
    display: inline-flex;
    align-items: flex-end;
  }
  &__line {
    & * {
      display: inline-block;
      vertical-align: middle;
      margin: 6px 5px;
    }
  }
  &__invite {
    background-color: #00b7f4;
    display: block;
    position: absolute;
    font-size: 37px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    color: #ffffff;
    text-align: center;
    border-radius: 200px;
    top: 0px;
    text-decoration: none;
    right: 0px;
  }
  &__avatar {
    max-width: 212px;
    position: relative;
    display: block;
    margin: 0px auto 10px auto;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  &__header {
    text-align: center;
  }
  &__count {
    background-color: #82d8b5;
    color: #030C26;
    line-height: 37px;
    width: 37px;
    text-align: center;
    border-radius: 200px;
    font-weight: 600;
    font-size: 22px;
  }
  &__info {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;

    & > * {
      flex: 1 1 auto;
      display: inline-flex;
      align-items: center;
      min-height: 30px;
      text-align: center;
      justify-content: center;
      padding: 15px 0px;
      font-size: 24px;
      text-decoration: none;
      border-radius: 10px;
      box-sizing: content-box;
    }
  }
  &__icon {
    width: 46px;
    height: 30px;
  }

  &__bio {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 80px 45px 100px 45px;
    border-radius: 10px;

    & p {
      font-size: 24px;
      text-align: left;
      font-weight: 100;
    }
    & br {
      margin-bottom: 30px;
      display: block;
      content: " ";
      line-height: 24px;
    }
  }

  &__left {
    width: 50%;

  }
  &__right {
    width: 50%;
    padding-left: 20px;
  }
  .nav {
    background-color: #0f213d;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  &__scroll {
    &-mini {
      height: 200px;
    }
    &-big {
      height: 320px;
      margin-bottom: 0px;
    }
  }
  .custom-tab {
    &__item {
      display: inline-block;
      vertical-align: top;
      margin: 0px 25px;
      &-pointer {
        pointer-events: none;
      }
      &.active {
        .custom-tab__link {
          * {
            color: #00b7f4;
            border-right: none;
            font-weight: 100;

            &:hover {
              background-color: transparent;
            }

          }
          color: #00b7f4;
          border-right: none;
          font-weight: 100;

          &:hover {
            background-color: transparent;
          }

        }
      }
    }
    &__link {
      display: inline-block;
      padding: 15px 0px;
      color: #ffffff;
      text-decoration: none;
      font-size: 18px;
      &:hover {
        background-color: transparent;
      }
    }

  }
  .tab-pane {
    &.fade {
      display: none;
    }
    &.in.active {
      display: block;
    }
  }

  &__preh1 {
    text-align: center;
    padding: 10px;
    display: block;
  }
  &__prevideo {
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    &-big {
      //padding-right: 10px;
      //margin-bottom: 10px;
    }
  }
  &__pretext {
    border-top-left-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    margin-left: -10px;
    padding-left: 20px;
    //padding-right: 10px;
    //margin-right: -10px;
    * {
      line-height: 20px;
    }
    //display: flex;
    //justify-content: center;
    //align-items: flex-start;
    //flex-direction: column;
  }

  iframe {
    width: 100%;
    border-radius: 6px;
    height: 100%;
  }
  &__video__item {
    margin-bottom: 20px;
    padding-right: 10px;
  }
  &__flex {
    display: flex;
    flex-wrap: wrap;
  }
  .mCustomScrollBox {
    width: 100%;
  }
}

.sidebar-close {
  .group {
    &__left {
      width: 38%;

    }
    &__right {
      width: 62%;
    }
  }
}

.chat-open {
  .profile__left {
    width: 100%;
  }
  .profile__right {
    display: none;
  }
  .group__right {
    display: none;
  }
  .group__left {
    width: 100%;
  }
  .content.open-chat-box .content-left .group__lists .col-4x {
    width: 25%;
    margin-left: 0px;
  }
}

.bold-text {
  font-weight: 600;
  font-size: 30px;
  //line-height: 65px;
}

.custom-text {
  font-size: 24px;
}

//groups

.group {
  &__h1 {
    font-size: 29px;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
  }
  &__photo {
    margin-bottom: 60px;
  }
  &__file {
    max-width: 210px;
    height: auto;
    max-height: 200px;
    background-image: url(/images/preavatar.png);
    border-radius: 10px;
    background-size: cover !important;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    background-position: center;
    & input {
      width: 100%;
      opacity: 0;
      height: 200px;
      display: block;
    }
  }
  &__left {
    width: 50%;
    padding: 0px 125px 0px 75px;
  }
  &__right {
    width: 50%;
    padding: 44px 65px 65px 65px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    &-nobg {
      background: none;
    }
  }
  &__members .col-4x {
    //padding: 0px 24px;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    ::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.5);
    }

    ::-moz-placeholder {
      color: rgba(255, 255, 255, 0.5);
    }

    /* Firefox 19+ */
    :-moz-placeholder {
      color: rgba(255, 255, 255, 0.5);
    }

    /* Firefox 18- */
    :-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
  }
  &__lists {
    .sidebar-cards__item img {
      height: 100%;
    }
    .sidebar-friends__item .ava {
      width: 70px;
      height: 70px;
      margin-bottom: 10px;
      line-height: 70px;
    }
    .sidebar-friends {
      margin-top: 10px;
    }
    .sidebar-friends__item .ava {
      & img {
        width: 100%;
      }
    }
  }

  &__input {
    width: 100%;
    display: block;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    margin-bottom: 18px;
    border-radius: 10px;
    padding: 28px 40px;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 100;
    &-bold {
      font-weight: 600;
    }
    &-slim {
      color: rgba(255, 255, 255, 0.5);
      font-size: 17px;
      font-weight: 100;
      padding: 11px 30px;
      background-image: url("/images/search2.png");
      background-repeat: no-repeat;
      background-position: center right 30px;
    }
  }

  &__list__toggle {

    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        &.active {
          span {
            color: #00b7f4;
          }
        }
        //display: inline-block;
        width: 25%;
        & * {
          font-weight: 100;
        }
        span {
          padding: 10px 0px;
          display: block;
          font-size: 17px;
        }
        //vertical-align: top;
      }
    }
  }
  &__name {
    font-size: 17px;
    font-weight: 100;
    text-decoration: none;
    color: #ffffff;
  }
  &__status {
    cursor: pointer;
    background-image: url(/images/unsuccess-icon.png);
    width: 20px;
    height: 20px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    &.success-icon {
      background-image: url(/images/success-icon.png);
    }
  }
  &__friendlist {
    &__wrapper {
      padding-right: 10px;
    }
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &__item {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }
  }
  &__name {
    img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
  &__invited {
    position: absolute;
    top: 18px;
    right: -10px;
    width: 20px;
    height: 20px;
    background-image: url(/images/success-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__tops {
    margin-bottom: 50px;
    .searchWrap-content__box .head .avatar, .searchWrap-content__box .head span.name {
      pointer-events: none;
      opacity: 0;
      z-index: -1;
    }
    .searchWrap-content__box {
      width: 100%;
      height: auto;
      iframe {
        width: 100%;
        height: auto;
        min-height: 300px;
      }
      .vase.vase-one:before {
        right: -230px;
        top: 0px;
      }

    }
    .searchWrap-content__box .slider-video.slider {
      width: 100%;
      height: auto;
      margin-bottom: 0px;
    }
  }
  &__random_video{
    iframe{
      width: 100%;
      height: auto;
      border-radius: 20px;
    }
    .vid{
      border-radius: 20px;
      margin-bottom: 30px;
    }
  }
}

.toggle {
  &__list {
    display: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    margin-bottom: 18px;
    border-radius: 10px;
    padding: 28px 40px;
    &.active {
      display: block;
    }
    .mCustomScrollBox {
      width: 100%;
    }
  }
  &__title {
    width: 100%;
    display: block;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 28px 40px;
    font-size: 22px;
    color: #ffffff;
    font-weight: 100;
    cursor: pointer;
    background-image: url(/images/arrow-bottom.png);
    background-repeat: no-repeat;
    background-position: center right 30px;
    &.active {
      background-image: url(/images/arrow-top.png);

    }
  }

}

.group__messenger {
  height: 1000px;
  border-radius: 20px;
  .newsWrap {
    padding: 30px 85px 30px 60px;
  }
  .newsWrap-item__avatar {
    margin-right: 30px;
  }
  .newsWrap-item__body{
    //margin-left: 10px;
    width: 100%;
  }
  .newsWrap-item__content .title{
    font-size: 28px;
  }
  .newsWrap-item__content .text{
    font-size: 17px;
  }
  .newsWrap-item__content .soc a{
    font-size: 16px;
  }
  .newsWrap-item__body .vid {
    width: 290px;
    overflow: hidden;
    height: auto;
    height: 175px;
    display: block;
    margin: 0 auto;
    iframe{
      width: 100%;
      height: auto;
      border-radius: 20px;
    }
  }
}

.profile__group__count {
  position: absolute;
  bottom: 2px;
  right: -23px;
  text-align: center;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #01b169;
  font-weight: 600;
}

.sidebar-friends__box {
  &-forth {
    height: 192px;
  }
}

.sidebar-cards-inline {
  .sidebar-cards__item {
    width: 32%;
    max-width: 180px;
    height: auto;
    display: inline-block;
  }

}